@import "tailwindcss";

@theme {
  --color-dark-gray: #242426;
  --font-family-spartan-regular: var(--font-spartan-regular);
  --font-family-spartan-extrabold: var(--font-spartan-extrabold);
}

@source "./src/app/**/*.{js,ts,jsx,tsx}";
@source "./src/components/**/*.{js,ts,jsx,tsx}";

.font-spartan-regular {
  font-family: var(--font-spartan-regular), sans-serif;
}

.font-spartan-extrabold {
  font-family: var(--font-spartan-extrabold), sans-serif;
}