@import "tailwindcss";

@font-face {
    font-family: "Spartan ExtraBold";
    src: url('../fonts/Spartan/Spartan-ExtraBold.ttf') format("truetype");
}

@font-face {
    font-family: "Spartan Regular";
    src: url('../fonts/Spartan/Spartan-Regular.ttf') format("truetype");
}

@theme {
  --color-dark-gray: #242426;
  --font-family-spartan-extrabold: "Spartan ExtraBold", sans-serif;
  --font-family-spartan-regular: "Spartan Regular", sans-serif;
}

body {
  font-family: "Spartan Regular", sans-serif;
}