div.header {
    background-color: #242626;
    width: 100vw;
    height: 150px;
    color: rgb(255, 255, 255, 0.81);
    position: relative;
}

div.header div.title {
    padding-top: 20px;
    padding-left: 60px;
    margin: 0;
    float: left;
}

div.title p {
    font-size: 20px;
    font-family: 'Spartan Regular';
    /* font-weight: Regular; */
    color: #AE7F22;
    margin: 0;
    padding-left: 5px;
    padding-top: 15px;
    position: absolute;
}

div.title h1 {
    font-size: 96px;
    font-family: 'Spartan ExtraBold';
    /* font-weight: ExtraBold; */
    color: #03989E;
    margin: 0px;
    padding: 0;
    position: relative;
    top: 10px;
}

div.header div.contact {
    bottom: 20px;
    right: 60px;
    margin: 0;
    position: absolute;
    width: 230px;
    height: 40px;
}

div.contact p {
    font-size: 20px;
    font-family: 'Spartan Regular';
    /* font-weight: Regular; */
    color: #AE7F22;
    margin: 0;
    padding: 0;
    text-align: center;
}

.left_image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.center_image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.right_image {
    position: absolute;
    bottom: 0;
    right: 0;
}